<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %} | Inmobiliaria Arrallanes</title>
    {% load static %}
    <link
      rel="icon"
      type="image/png"
      href="{% static 'assets/brand/16.png' %}"
      sizes="16x16"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'assets/brand/32.png' %}"
      sizes="32x32"
    />
    <link rel="stylesheet" href="{% static 'assets/style/main.css' %}" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="social">
      {% include 'core/social.html' %}
    </div>

    <!-- Navbar -->
    <div id="navbarMenu">
      {% load static %} {% include 'core/navbar.html' %}
    </div>
    <!-- contenido -->

    <div>
      {% block content %}{% endblock %}
    </div>

    <!--  {{ request.path }}-->
    <!--Footer-->

    <footer>
      {% include 'core/footer.html' %}
    </footer>
    <!-- INTERDATA -->
    <div class="container interDataFoote">
      <div class="row">
        <div class="col-sm-12 internoStr">
          <a href="">
            {% now 'Y' %}<i class="far fa-copyright"></i> Inmobiliaria
            Arrallanes
          </a>
          <a href="http://www.interdata.mx/" target="_blank">
            by InterDa<span>t</span>a.mx
            <img
              width="24"
              src="{% static 'assets/brand/logoInterdata.svg' %}"
              alt="Interdata"
            />
          </a>
        </div>
      </div>
    </div>
    <!-- INTERDATA -->
  </body>
</html>
