
{% load static %}
<div class="container ui_borderX">
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="container">
        <div class="row">
          <div class="col-6 offset-3">
            <img
              class="img-fluid"
              src="{% static 'assets/brand/LOGO.svg' %}"
              alt="INMOBILIARIA ARRALLANES S. De R.L de C.V."
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <h6>INMOBILIARIA ARRALLANES S. De R.L de C.V.</h6>
      <p>
        Circuito Balvanera 29C Interior 1 Fraccionamiento Industrial Balvanera
        76908 Corregidora, Queretaro De Arteaga, Mexico.
      </p>
    </div>
    <div class="col-sm-12 col-md-4 sayPoliticas">
      {% load pages_extras %}
      {% get_page_list as page_list %}

      {% for page in page_list %}
        <a href="{% url 'page' page.id page.title|slugify %}">
          <p> {{page.title}}</p>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
$('.carousel').carousel()
</script>