{% extends 'core/base.html' %} 
{% block title %} Bienvenido {% endblock %} 
{%block content %}
<div class="sayHome">
  <div class="sayHero">
      
  </div>
  <div class="Decorado_">
    {% include 'core/decorado.html' %}
  </div>
</div>
{% endblock %}
