<nav class="d-none d-sm-block">
  {% load static %}
  <div class="container ">
    <div class="row">
      <div class="col-md-2 ">
        <div class="container">
          <div class="row">
            <div class="col-8 offset-2 p-3">
              <a class="{{ H_A }}" href="{% url 'home' %}">
              <img
                class="img-fluid"
                src="{% static 'assets/brand/LOGO.svg' %}"
                alt="INMOBILIARIA ARRALLANES"
              />
            </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <ul class="menuItems">
          <a class="{% if request.path|slice:":11" == '/catalogos/' %}active{% endif %}" href="{% url 'catalogos' %}">
            <li>
              Catálogos
            </li>
          </a>
          <a class="{% if request.path == '/historia/' %}active{% endif %}" href="{% url 'historia' %}">
            <li>
              Historia
            </li>
          </a>
          <a class="{% if request.path == '/servicios/' %}active{% endif %}" href="{% url 'servicios' %}">
            <li>
              Servicios
            </li>
          </a>
          <a class="{% if request.path == '/contacto/' %}active{% endif %}" href="{% url 'contact' %}">
            <li>
              Contacto
            </li>
          </a>
        </ul>
      </div>
      <div class="col-md UpSayHi">
        <div class="SayHi">
          {% if user.is_authenticated %}
          <i class="fas fa-user-circle"></i> | <span>Hola</span> {{user.first_name}}
        
       {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
