<ul>
  {% if LINK_FACEBOOK %}
  <li>
    <a href="{{LINK_FACEBOOK}}" target="_blank">
      <i class="fab fa-facebook-f"></i>
    </a>
  </li>
   {% endif %}
   {% if LINK_INSTAGRAM %}
  <li>
    <a href="{{LINK_INSTAGRAM}}" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
  </li>
   {% endif %}
    {% if LINK_TWITTER %}
  <li>
    <a href="{{LINK_TWITTER}}" target="_blank">
     <i class="fab fa-twitter"></i>
    </a>
  </li>
    {% endif %}
     {% if LINK_WHATSAPP %}
  <li>
    <a href="{{LINK_WHATSAPP}}" target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>
  </li>
    {% endif %}
  <li>
    <p>
      síguenos
    </p>
  </li>
</ul>
