{% extends 'core/base.html' %}
{% load static %}

 {% block title %}
  {{page.title}}
 {% endblock %}

{% block content %}
<div class="ui_borderX">
<div class="container sayPages">
    <div class="row">
        <div class="col-md-8 col-sm-12 sayInfoPage">
            <h1> {{page.title}}</h1>
            <hr>
            <p> {{page.content|safe}}</p>
            <hr>
        </div>
        <div class="col-md-2 col-sm-12 sayInfoPageEdit">
            {% if user.is_authenticated %}
                <p>Editar aquí</p>
                <a href="{% url 'admin:pages_page_change' page.id %}"> <i class="far fa-edit"></i> </a>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock %}
