.sayList {
  @include ui_border;
}
.sayblock {
  @include ui_border;
  overflow-y: scroll;
  height: 600px;
}
.inmueble {
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  width: 25vw;
  margin: 1em;
  position: relative;
  .cat {
    i {
      color: $rojo;
    }
  }
  .verPos {
    position: absolute;
    top: 180px;
    right: 7%;
    background: #fff;
    border-radius: 100px;
    width: 40px;
    z-index: 2;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    i {
      @include fx_hover(300ms, transparent, $azul);
      &:hover {
        @include fx_hover(300ms, transparent, $rojo);
      }
    }
  }
  .price {
    position: absolute;
    z-index: 2;
    top: 3%;
    left: 7%;
    h3 {
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);

      background: #fff;
      margin: 0;
      padding: 5px 10px;
      font-size: 18px;
      border-radius: 7px;
      color: $azul;
      i {
        margin-right: 5px;
        color: $rojo;
      }
    }
  }
  .Cimagen {
    height: 200px;
    width: 100%;
  }
  .info {
    border-top: 1px solid $grisN;
    padding: 1em;
    height: 200px;
    position: relative;
    h2 {
      font-weight: 500;
      font-size: 1.2em;
      a {
        text-decoration: none;
        @include fx_hover(300ms, transparent, $azul);
        &:hover {
          @include fx_hover(300ms, transparent, $rojo);
        }
      }
    }
    .descriptionC {
      color: $grisC;
      font-size: 15px;
      font-weight: 300;
    }
    .donde {
      position: absolute;
      bottom: 5%;
      display: flex;
      align-items: center;
      i {
        color: $rojo;
      }
      p {
        span {
          color: $rojo;
        }
      }
    }
  }
  .Card_footer {
    height: auto;
    border-top: 1px solid $grisN;
    padding: 0.5em 1em;
    ul {
      margin: 0;
      padding: 0;
      li {
        a {
          color: #c3c3c3;
          transition: all 350ms ease-in;
          &:hover {
            transition: all 350ms ease-in;
            color: $rojo;
          }
        }
      }
    }
  }
}
