body {
  font-family: "Roboto", sans-serif;
  color: $grisO;
}
///DECORADO
.Decorado_ {
  height: 50px;
  .row {
    .col-6:first-child {
      background: $rojo;
    }
    .col-6:last-child {
      background: $azul;
    }
  }
}
////////////NAVSOCIAL
.social {
  position: fixed;
  top: 30%;
  left: -0.5%;
}
.social ul {
  list-style: none;
  width: fit-content;
  li {
    justify-content: center;
    display: flex;
    margin-bottom: 1em;
    a {
      color: rgba($grisN, 0.7);
      transition: all 350ms ease-in;
      font-size: 1.2em;
    }
    &:hover {
      a {
        color: $grisO;
        transition: all 350ms ease-in;
      }
    }
  }

  li:last-child {
    height: 6em;
    transform: rotate(24de);
    display: flex;
    align-items: center;
    p {
      text-transform: uppercase;
      font-weight: 400;
      color: $grisO;
      letter-spacing: 1.2px;
      position: absolute;
      padding: 0;
      margin: 0;
      transform: rotate(-90deg);
    }
  }
  @media (max-width: 760px) {
    display: none;
  }
}
