.sayContact {
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include ui_border;
  .sayAboutContact {
    padding: 24px;
    h1 {
      color: $rojo;
      font-size: 1.3em;
    }
    .btnCon {
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        &.btn_ {
          padding: 5px 10px;
          letter-spacing: 0.4px;
          border-radius: 3px !important;
          font-weight: 400;
          text-transform: uppercase;
          @include fx_hover(300ms, $azul, #fff);
          &:hover {
            @include fx_hover(300ms, darken($rojo, 10), #fff);
          }
        }
      }
    }
    p {
      font-size: 1.2em;
      font-weight: 300;
    }
  }
  .sayForm {
    form {
      @media (max-width: 760px) {
        border-radius: 0;
      }

      input[type="text"],
      input[type="email"],
      input[type="number"],
      textarea {
        margin-bottom: 0.8em;
        padding: 0.3em 0.5em;
        outline: none;
        border-radius: 7px;
        width: 100%;
        border: 0;
        background: rgba($grisC, 0.1);
        color: $grisO;
        font-weight: 300;
        &:active {
          outline: none;
          border: 0;
        }
      }
      .BtnSend {
        border-radius: 3px !important;
        padding: 0.3em 1em;
        margin-bottom: 0px;
        text-transform: uppercase;
        border-radius: 100px;
        @include fx_hover(300ms, $rojo, #fff);
        border: 0;
        outline: 0;
        &:hover {
          @include fx_hover(300ms, darken($rojo, 10), #fff);
        }
      }
    }
  }
  @media (max-width: 760px) {
    height: auto;
    margin: 3em 0;
    .sayAboutContact {
      margin-bottom: 3em;
      p {
        font-size: 1em;
        font-weight: 300;
      }
    }
  }
}
