.sayAboutdetail {
  @include ui_border;
  .hero {
    height: 600px;
    display: flex;
    align-items: center;
    .main {
      width: 90%;
      margin: 20px auto;
      .slides {
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
    h1 {
      color: $grisC;
      font-size: 1.6em;
      font-weight: 400;
    }
    h2 {
      color: $grisO;
      font-weight: 300;

    }
    .heroTex{
      p{
        color: $grisC;
        margin: 0;
        font-size: 24px;
        padding: 0 6em 0 0;
        font-weight: 300;
      }
    }
  }
  .barraflotante {
    position: fixed;
    bottom: 0;
    display: inline-flex;
    background: $azul;
    color: #fff;
    z-index: 2;
    right: 0;
    font-weight: 300;
    letter-spacing: 1px;
    h3 {
      margin: 0;
      padding: 0;
      padding: 5px 15px;
      font-weight: 400;
      font-size: 1.6em;
    }
  }
  .mailFlotante,
  .telFlotante {
    a {
      cursor: pointer;
      text-decoration: none;
      @include fx_hover(300ms, $azul, #fff);
      &:hover {
        @include fx_hover(300ms, $azul, $rojo);
      }
    }
  }
  .precioFlotant {
    cursor: pointer;
    @include fx_hover(300ms, $rojo, #fff);
    &:hover {
      @include fx_hover(300ms, rgba($rojo, 0.8), #fff);
    }
  }
  .sayDescription {
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    .plesta {
      width: 100%;
      height: 100%;
      background: rgba($azul, 0.8);
      display: flex;
      align-items: center;
      p {
        color: #fff;
        margin: 0;
        font-size: 23px;
        font-weight: 300;
      }
    }
  }
  .sayInterested{
    height: 500px;
  }
}
