footer {
  p {
    color: $grisC;
    font-weight: 200;
  }
  .sayPoliticas {
    a {
      text-decoration: none;
      p{
        @include fx_hover(300ms, transparent, $rojo);
        font-weight: 300;
      }
      &:hover{
         p{
            @include fx_hover(300ms, transparent, $azul);
         }
      }
    }
  }
  @media (max-width: 768px) {
    text-align: center;
  }
}
