nav {
  // position: fixed;
  // z-index: 5;
  // width: 100%;
  .container {
    background: $azul;
    overflow: hidden;
  }
  .menuItems {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    a {
      letter-spacing: 1px;
      font-weight: 300;
      text-transform: uppercase;
      display: flex;
      height: 100%;
      align-items: center;
      padding: 0 0.5em;
      &.active {
        background: darken($azul, 5);
        color: #fff;
        pointer-events: none;
      }
      @include fx_hover(300ms, transparent, #fff);
      &:hover {
        text-decoration: none;
        @include fx_hover(300ms, darken($azul, 5), $rojo);
      }
    }
  }
}

.UpSayHi{
  display: flex;
  align-items: center;
  justify-content: center;

}
.SayHi{
  color:#fff;
  span{
    font-weight: 200;
  }
}