.sayPages {
  height: auto;
  border-top:0;
  border-bottom: 0;
  border-left: 1px solid rgba($grisC, .10);
  border-right: 1px solid rgba($grisC, .10);
  .sayInfoPage {
    margin: 24px;
    h1 {
      color: $rojo;
    }
    p {
      font-size: 1.3em;
      font-weight: 100;
    }
    @media (max-width: 760px) {
      margin: auto;
      p {
        font-size: 1em;
        font-weight: 100;
      }
    }
  }
  .sayInfoPageEdit {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-size: 1.3em;
      font-weight: 100;
      margin: 0;
      padding: 0;
    }
    a {
      margin-left: 7px;
      @include fx_hover(300ms, transparent, $rojo);
      &:hover {
        @include fx_hover(300ms, transparent, darken($rojo, 10));
      }
    }
  }
}
