///////COLOR
$azul: #02205a;
$rojo: #e2532a;
$grisC: #707070;
$grisO: #434343;
$grisN: #dcdde0;

/////FXANIMATE
@mixin fx_hover($time, $bcolor, $fcolor) {
  transition-property: all;
  transition: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-duration: $time;
  background: $bcolor;
  color: $fcolor;
}

///////////UIborderX
@mixin ui_border{
  border-top:0;
  border-bottom: 0;
  border-left: 1px solid rgba($grisC, .10);
  border-right: 1px solid rgba($grisC, .10);
}

///////Interdata MR

.interDataFoote {
  .internoStr {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.2em;
    @media (max-width: 760px) {
      justify-content: space-around;
    }
    a {
      text-decoration: none;
      transition: all 350ms ease-in;
      color: #4e4e50;
      letter-spacing: 0.5pt;
      font-size: 13px;
      span {
        color: #fc4a1f;
      }
      &:hover {
        text-decoration: none;
        transition: all 350ms ease-in;
        color: #fc4a1f;
        span {
          color: #4e4e50;
        }
      }
      @media (max-width: 760px) {
        font-size: 12px;
      }
    }
  }
}
