{% extends 'core/base.html' %}
{% block title %}
  Contacto
{% endblock %} 

{% block content %}
<div class="ui_borderX">
<div class="container sayContact">
  <div class="row">
    <div class="col-md-4 col-sm-12 sayAboutContact ">
      <h1>
          Inmobiliaria Arrallanes, S. de R.L. de C.V.
      </h1>
      <hr>
      <p>
      Circuito Balvanera 29C Interior 1 Fraccionamiento Industrial Balvanera (2,26 km)
      76908 Corregidora, Queretaro De Arteaga, Mexico
      </p>
      <div class="btnCon">
          <a class="btn_" href="tel:+014424138178">
              Llamar
            </a>
          <a class="btn_" href="https://goo.gl/maps/8wdVc3zaP672"  target="_blank">
            Cómo llegar
          </a>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 offset-md-1 sayForm">
      <form action="" method="POST">
        {% csrf_token %}
          <div class="form-group">
            <label for="Nombre">Nombre:</label>
            {{form.name}} 
            {{form.name.errors}} 
          </div>
          <div class="form-group">
            <label for="whats">WhatsApp:</label>
            {{form.whats}}
            {{form.whats.errors}} 
          </div>
          <div class="form-group">
            <label for="emaiL">Email address:</label>
            {{form.email}}
            {{form.email.errors}} 
          </div>
        
          <div class="form-group">
              <label for="mensaJ">Mensaje:</label>
              {{form.content}}
              {{form.content.errors}} 
          </div>  
        <button type="submit" class="BtnSend">Enviar</button>
        </form>
    </div>
  </div>
</div>
</div>
{% endblock %}