<div class="row p-4 sayblock">
{% for catalogo in catalogo_list|dictsort:"id" reversed %}

<div class="inmueble p-0">
  <div class="internal">
      <div class="verPos">
          <a href="{% url 'catalogo' catalogo.id catalogo.title|slugify %}" target="_blank">
              <i class="fas fa-search"></i>
          </a>    
      </div>
      <img src="{{catalogo.imgHero.url}}" class="Cimagen" alt="{{catalogo.title}}">
      <div class="price">
          <h3><i class="fas fa-dollar-sign"></i> {{catalogo.Sellprice}}</h3>
      </div> 
      <div class="info">
        <div class="cat">
            {% for catalogo in catalogo.typeC.all  %}
            <i class="fas fa-bookmark"></i> {{catalogo.name}}
            {% endfor %}
        </div>
          <h2>
          <a href="{% url 'catalogo' catalogo.id catalogo.title|slugify %}" target="_blank">
          {{catalogo.title|truncatechars:"23"}}
          </a>
          </h2>
        <p class="descriptionC">
            {{catalogo.description|striptags|safe|truncatechars:"140"}}
        </p>
       <div class="donde">
          <i class="fas fa-map-marker-alt fa-pull-left"></i>{{catalogo.state}}
       </div>
      </div>

  <div class="Card_footer">
      <ul class="list-inline d-flex justify-content-around">
          <li class="list-inline-item">
              <a href="{{catalogo.googleS}}" target="_blank">
                <i class="fas fa-street-view"></i>
              </a>
          </li>
          <li class="list-inline-item">
                <a href="#" target="_blank">
                    <i class="fas fa-file-pdf"></i>
                </a>
            </li>
          <li class="list-inline-item">
              <a href="tel:{{catalogo.phone}}" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
          </li> 
          <li class="list-inline-item">
                <a href="mailto:{{catalogo.email}}" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
      </ul>
  </div>
  </div>
</div>
{% endfor %} 

</div>