{% extends 'core/base.html' %}
{% load static %}

 {% block title %} 
 
 Catálogos 
 
 {% endblock %} 


{% block content %}
<div class="container sayList">
  <div class="row">
    <div class="col-md-8">
        {% include 'catalogo/_catalogo.html' %}
    </div>
    <div class="col-sm-12 col-md-3">

    </div>
  </div>
</div>
{% endblock %}

