{% extends 'core/base.html' %} {% load static %} {% block title %}

{{ catalogo.title }}

{% endblock %} {% block content %}
<div class="container sayAboutdetail ">
  <div class="row">
    <div class="col-12">
      <section class="hero">
        <div class="container-fluid">
          <div class="row">
            <div class="col-6">
           
             <div id="carouselExampleFade" class="carousel slide carousel-fade ImgCaru" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ catalogo.imgHero.url }}" class="d-block w-100" alt="{{catalogo.titleHero}}">
                </div>
                <div class="carousel-item">
                  <img src="{{ catalogo.imgA.url }}" class="d-block w-100" alt="{{catalogo.titleimgA}}">
                </div>
                <div class="carousel-item">
                  <img src="{{ catalogo.imgB.url }}" class="d-block w-100" alt="{{catalogo.titleimgB}}">
                </div>
                <div class="carousel-item">
                  <img src="{{ catalogo.imgC.url }}" class="d-block w-100" alt="{{catalogo.titleimgC}}">
                </div>
                <div class="carousel-item">
                  <img src="{{ catalogo.imgD.url }}" class="d-block w-100" alt="{{catalogo.titleimgD}}">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
            <div class="col-6">
             <div class="heroTex">
              <h1>{{ catalogo.title }}</h1>
              {% for catalogo in catalogo.typeC.all %}
              <i class="fas fa-bookmark"></i> {{ catalogo.name }}
              {% endfor %}
              <p class="mt-3">
                {{catalogo.description|striptags|safe|truncatechars:"140"}}
              </p>
             </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
 
  <div class="barraflotante">
    <div class="precioFlotant">
          <h3>
            <i class="fas fa-dollar-sign"></i> {{ catalogo.Sellprice }}
          </h3>
    </div>
    <div class="telFlotante">
      <h3>
        <a href="tel:{{catalogo.phone}}">
            <i class="fas fa-phone"></i> {{catalogo.phone}}
        </a>
      </h3>
    </div>
    <div class="mailFlotante">
      <h3>
        <a href="mailto:{{catalogo.email}}">
            <i class="fas fa-envelope"></i> {{catalogo.email}}
        </a>
      </h3>
    </div>
   
  </div>
  <!--  -->
  <!--  -->
  <!--  -->
  <section
    class="sayDescription"
    style="background:url('{{ catalogo.imgHero.url }}')"
  >
    <div class="plesta p-5">
      <div class="container">
        <div class="row">
          <div class="col-10 offset-1 py-3">
            <p>{{ catalogo.description | safe }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <!--  -->
  <!--  -->
  <section class="sayInterested">
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
        <!--  -->
        <div class="col-sm-12 col-md-3">
          <form action="">

          </form>
        </div>
      </div>
    </div>
  </section>
  <!--  -->
  <!--  -->
  <!--  -->
</div>

{% endblock %}
