{% extends 'core/base.html' %}
{% load static %}

 {% block title %} 
 
 Tipo de inmueble 
 
 {% endblock %} 


{% block content %}

{% for catalogo in tipo.get_posts.all %}
<div class="inmueble">
  <div class="blockImagen" style="background-image: url({{catalogo.imgHero.url}})">
   <div class="priceHot">
        <i class="fas fa-dollar-sign"></i> <h3>{{catalogo.Sellprice}}</h3>
   </div>
</div>
    <div class="leerMas">
        <a href="" target="_blank">
        <i class="fas fa-search"></i>
    </a>
    </div>
  <div class="info">
      <h2>{{catalogo.title}}</h2>
      <p><i class="fas fa-map-marker-alt fa-pull-left"></i>{{catalogo.state}} </p>
      <p></p>
      
     {{catalogo.typeC}}
        
  </div>
  <div class="pie">
      <ul class="list-inline d-flex justify-content-around">
          <li class="list-inline-item">
              <a href="{{catalogo.googleS}}" target="_blank">
                <i class="fas fa-street-view"></i>
              </a>
          </li>
          <li class="list-inline-item">
                <a href="#" target="_blank">
                    <i class="fas fa-file-pdf"></i>
                </a>
            </li>
          <li class="list-inline-item">
              <a href="tel:{{catalogo.phone}}" target="_blank">
                <i class="fas fa-phone"></i>
              </a>
          </li> 
          <li class="list-inline-item">
                <a href="tel:{{catalogo.email}}" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
            </li>
      </ul>
  </div> 
</div>
  
  {% endfor %} 
{% endblock %}

